<div class="col-sm-12">

    <div class="well">
        <h4>{{ revenue_integrity.name }}</h4>
        <table class="table table-bordered">
            <tr>
                <td width="40%"></td>
                <td>High</td>
                <td>Low</td>
            </tr>
            <tr>
                <td>Graph numbers</td>
                <td>{{ revenue_integrity.high | currency:info.currency.symbol }}</td>
                <td>{{ revenue_integrity.low | currency:info.currency.symbol }}</td>
            </tr>
            <tr ng-repeat="item in revenue_integrity.summary">
                <td>{{ item.name }}</td>
                <td><span ng-show="item.unit == 'currency'">{{ currency }}</span>{{ item.high | commas }}<span ng-show="item.unit == 'percentage'">%</span></td>
                <td><span ng-show="item.unit == 'currency'">{{ currency }}</span>{{ item.low | commas }}<span ng-show="item.unit == 'percentage'">%</span></td>
            </tr>
        </table>
    </div>

    <div class="well">
        <h4>{{ revenue_integrity_process_improvement.name }}</h4>
        <table class="table table-bordered">
            <tr>
                <td width="40%"></td>
                <td>High</td>
                <td>Low</td>
            </tr>
            <tr>
                <td>Graph numbers</td>
                <td>{{ revenue_integrity_process_improvement.high | currency:info.currency.symbol }}</td>
                <td>{{ revenue_integrity_process_improvement.low | currency:info.currency.symbol }}</td>
            </tr>
            <tr ng-repeat="item in revenue_integrity_process_improvement.summary">
                <td>{{ item.name }}</td>
                <td>{{ item.high | commas }}</td>
                <td>{{ item.low | commas }}</td>
            </tr>
        </table>
        <p class="text-muted">Example: {{ revenue_integrity_process_improvement.summary.pnrs.high | commas }}</p>
    </div>

    <div class="well">
        <h4>{{ channel_shift.name }}</h4>
        <table class="table table-bordered">
            <tr>
                <td width="40%"></td>
                <td>High</td>
                <td>Low</td>
            </tr>
            <tr>
                <td>Graph numbers</td>
                <td>{{ channel_shift.high | currency:info.currency.symbol }}</td>
                <td>{{ channel_shift.low | currency:info.currency.symbol }}</td>
            </tr>
<!--            <tr ng-repeat="item in channel_shift.summary">-->
<!--                <td>{{ item.name }}</td>-->
<!--                <td>{{ item.high | commas }}</td>-->
<!--                <td>{{ item.low | commas }}</td>-->
<!--            </tr>-->
        </table>
    </div>

    <div class="well">
        <h4>{{ ancillary_sales.name }}</h4>
        <table class="table table-bordered">
            <tr>
                <td width="40%"></td>
                <td>High</td>
                <td>Low</td>
            </tr>
            <tr>
                <td>Graph numbers</td>
                <td>{{ ancillary_sales.high | currency:info.currency.symbol }}</td>
                <td>{{ ancillary_sales.low | currency:info.currency.symbol }}</td>
            </tr>
            <tr ng-repeat="item in ancillary_sales.summary.years">
                <td>{{ item.name }}</td>
                <td>
                    <table class="table table-striped">
                        <tr ng-repeat="it in item.high">
                            <td width="50%">{{ it.name }}</td>
                            <td><span ng-show="it.unit == 'currency'">{{ info.currency.symbol }}</span>{{ it.value | commas }}</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table class="table table-striped">
                        <tr ng-repeat="it in item.low">
                            <td width="50%">{{ it.name }}</td>
                            <td><span ng-show="it.unit == 'currency'">{{ info.currency.symbol }}</span>{{ it.value | commas }}</td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>
    </div>

    <div class="well">
        <h4>{{ cmap.name }}</h4>
        <table class="table table-bordered">
            <tr>
                <td width="40%"></td>
                <td>High</td>
                <td>Low</td>
            </tr>
            <tr>
                <td>Graph numbers</td>
                <td>{{ cmap.high | currency:info.currency.symbol }}</td>
                <td>{{ cmap.low | currency:info.currency.symbol }}</td>
            </tr>
            <tr>
                <td>{{ cmap.fuel_cost.name }}</td>
                <td colspan="2">{{ cmap.fuel_cost.value | commas }}</td>
            </tr>
            <tr ng-repeat="item in cmap.summary">
                <td>{{ item.name }}</td>
                <td>{{ item.high | commas }}</td>
                <td>{{ item.low | commas }}</td>
            </tr>
        </table>
    </div>

    <div class="well">
        <h4>{{ origin_and_destination.name }}</h4>
        <table class="table table-bordered">
            <tr>
                <td width="40%"></td>
                <td>High</td>
                <td>Low</td>
            </tr>
            <tr>
                <td>Graph numbers</td>
                <td>{{ origin_and_destination.high | currency:info.currency.symbol }}</td>
                <td>{{ origin_and_destination.low | currency:info.currency.symbol }}</td>
            </tr>
            <tr>
                <td>Revenue</td>
                <td colspan="2">{{ origin_and_destination.revenue | commas }}</td>
            </tr>
            <tr ng-repeat="item in origin_and_destination.summary">
                <td>{{ item.name }}</td>
                <td>{{ item.high | commas }}</td>
                <td>{{ item.low | commas }}</td>
            </tr>
        </table>
    </div>

    <div class="well">
        <h4>{{ pos.name }}</h4>
        <table class="table table-bordered">
            <tr>
                <td width="40%"></td>
                <td>High</td>
                <td>Low</td>
            </tr>
            <tr>
                <td>Graph numbers</td>
                <td>{{ pos.high | currency:info.currency.symbol }}</td>
                <td>{{ pos.low | currency:info.currency.symbol }}</td>
            </tr>
            <tr>
                <td>Revenue</td>
                <td colspan="2">{{ pos.revenue | commas }}</td>
            </tr>
            <tr ng-repeat="item in pos.summary">
                <td>{{ item.name }}</td>
                <td>{{ item.high | commas }}</td>
                <td>{{ item.low | commas }}</td>
            </tr>
        </table>
    </div>

    <div class="well">
        <h4>{{ airfare_insight.name }}</h4>
        <table class="table table-bordered">
            <tr>
                <td width="40%"></td>
                <td>High</td>
                <td>Low</td>
            </tr>
            <tr>
                <td>Graph numbers</td>
                <td>{{ airfare_insight.high | currency:info.currency.symbol }}</td>
                <td>{{ airfare_insight.low | currency:info.currency.symbol }}</td>
            </tr>
            <tr ng-repeat="item in airfare_insight.summary">
                <td>{{ item.name }}</td>
                <td><span ng-show="item.unit == 'currency'">{{ info.currency.symbol }}</span>{{ item.high | commas }}<span ng-show="item.unit == 'percentage'">%</span></td>
                <td><span ng-show="item.unit == 'currency'">{{ info.currency.symbol }}</span>{{ item.low | commas }}<span ng-show="item.unit == 'percentage'">%</span></td>
            </tr>
        </table>
    </div>

    <div class="well">
        <h4>{{ arr.name }}</h4>
        <table class="table table-bordered">
            <tr>
                <td width="40%"></td>
                <td>High</td>
                <td>Low</td>
            </tr>
            <tr>
                <td>Graph numbers</td>
                <td>{{ arr.high | currency:info.currency.symbol }}</td>
                <td>{{ arr.low | currency:info.currency.symbol }}</td>
            </tr>
            <tr ng-repeat="item in arr.summary">
                <td>{{ item.name }}</td>
                <td>{{ item.high | commas }}</td>
                <td>{{ item.low | commas }}</td>
            </tr>
        </table>
    </div>

</div>
