<div class="col-md-4 col-md-offset-4 content-margin">
    <div class="row">
        <h1>Clear Data</h1>
        <p class="lead">Please confirm that you want to clear all local data for this session. <span class="text-danger"><strong>WARNING!</strong> All of your data will be lost!</p>

        <div class="row">
            <div class="col-md-12">
                <a ng-click="confirmClearData()" class="input-lg user-action user-action-danger">I confirm</a>
<!--                <a ui-sref="calculator.index" class="input-lg user-action">No thanks</a>-->
            </div>
        </div>
    </div>
</div>
