<div class="col-md-4 col-md-offset-4 text-center">

    <h1>Sita Horizon Value Calculator</h1>

    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus cursus libero. Nunc eget convallis est. Duis
        varius feugiat pretium. Vestibulum vel diam vel velit dignissim tristique id fermentum velit.</p>

    <p ng-hide="info.loggedIn"><a ui-sref="auth" class="input-lg user-action">Proceed</a></p>
    <p ng-show="info.loggedIn"><a ui-sref="info" class="input-lg user-action">Proceed</a></p>

</div>
