<div class="col-md-4 col-md-offset-4">

    <h1>Information</h1>
    <p class="lead">Enter information for this session below.</p>

    <div class="form-group">
        <label for="sname">Name</label>
        <input id="sname" type="text" ng-model="info.session.name" ng-change="updateInfo()" class="form-control input-lg" ng-value=""
               placeholder="Please enter a name" required>
    </div>
    <div class="form-group">
        <label for="acode">Airline</label>
        <input id="acode" type="text" ng-model="info.airline.code" ng-change="updateInfo()" class="form-control input-lg"
               placeholder="Airline code" required>
    </div>
    <div class="form-group">
        <label for="oname">Opportunity</label>
        <input id="oname" type="text" ng-model="info.opportunity.name" ng-change="updateInfo()" class="form-control input-lg"
               placeholder="Opportunity name" required>
    </div>
    <div class="form-group">
        <a ui-sref="calculator.index" ng-disabled="!info.airline.code || !info.session.name || !info.opportunity.name"
           class="input-lg user-action">Update information</a>
    </div>

</div>
