<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-7">
                <ul class="list-inline info-links">
                    <li ng-show="info.session.name"><span class="text-muted">Name:</span> <a ui-sref="info">{{ info.session.name }}</a></li>
                    <li ng-show="info.airline.code"><span class="text-muted">Airline:</span> <a ui-sref="info">{{ info.airline.code }}</a>
                    </li>
                    <li ng-show="info.opportunity.name"><span class="text-muted">Opportunity:</span> <a ui-sref="info">{{
                            info.opportunity.name }}</a></li>
                </ul>
            </div>
            <div class="col-xs-5 text-right" ng-controller="SaveSessionCtrl">

                <div class="alert alert-success message reveal-animation" role="alert" ng-show="saved == true"><strong>Save
                        successful</strong></div>

                <a ng-hide="info.running_session == true" ng-click="saveSession()" class="btn btn-warning btn-gradient btn-sm mt-10">
                    <span ng-show="saving == false">SAVE NEW</span>
                    <span ng-show="saving == true">SAVING</span> <span class="glyphicon glyphicon-export"></span>
                </a>

                <div class="btn-group" ng-show="info.running_session == true" ng-cloak>
                    <a ng-click="saveSession()" class="btn btn-trans btn-gradient btn-sm mt-10">COPY <span
                          class="glyphicon glyphicon glyphicon-plus-sign"></span></a>
                    <a ng-click="updateSession()" class="btn btn-success btn-gradient btn-sm mt-10"
                       ng-disabled="saving == true">
                        <span ng-show="saving == false">SAVE</span>
                        <span ng-show="saving == true">SAVING</span> <span class="glyphicon glyphicon-export"></span>
                    </a>
                </div>


            </div>
        </div>
    </div>
</nav>
