<div ng-controller="SessionsCtrl" ng-cloak>
  <div class="col-md-8 col-md-offset-2">
    <!--a ng-href="/#/calculator" class="btn btn-info"><span class="glyphicon glyphicon-chevron-left"></span> Back</a-->
    <h1>Save this session</h1>

    <p>This will upload/save this session</p>

    <div class="well">
      <h2>Sync test</h2>

      <input type="text" ng-model="text.calc" ng-change="fbtest()" class="form-control input-lg">
      <h3><strong>Result:</strong> {{ text.calc }} + {{ text.sum }}</h3>
    </div>

  </div>
</div>
