<div ng-controller="SessionsDetailCtrl" ng-cloak>
    <div class="col-md-10 col-md-offset-1">

        <div class="panel panel-primary" ng-class="{'panel-danger' : confirm == true}" ng-init="confirm = false">
            <div class="panel-heading">
                <h5>{{ item.meta.user.name | uppercase }}</h5>
            </div>
            <div class="panel-body" ng-class="{'op25' : confirm == true}">
                <div class="col-sm-3 col-md-3 col-lg-4">
                    <h5 class="mb-5">
                        <small>OPPORTUNITY</small>
                    </h5>
                    <h2 class="mt-0 mb-5">{{ item.meta.opportunity.name }}</h2>

                    <h5 class="mb-5">
                        <small>AIRLINE</small>
                    </h5>
                    <h2 class="mt-0">{{ item.meta.airline.code }}</h2>
                    <hr>
                    <h5 class="mt-0 mb-10">
                        <small>SAVED ON: {{ item.meta.date.date | date: 'medium' | uppercase }}</small>
                    </h5>
                </div>
                <div class="col-sm-9 col-md-9 col-lg-8">
                    <div id="chart" class="row">
                        <div class="col-sm-6 pos-rel text-center" style="width: 340px; height: 340px">
                            <span class="chart_total">{{  total_con }}</span>
                            <highchart config="chartConfig" style="height: 320px; width: 320px"></highchart>
                        </div>
                        <div class="col-sm-6 pos-rel text-center" style="width: 340px; height: 340px">
                            <span class="chart_total">{{ total_agg }}</span>
                            <highchart config="chartConfig2" style="height: 320px; width: 320px;"></highchart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="btn-group">
                    <a ng-href="/#/sessions" class="btn btn-primary btn-gradient"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
                    <a ng-click="useSession(item.$id)" class="btn btn-trans btn-gradient">Use
                        <span class="glyphicon glyphicon glyphicon-retweet"></span>
                    </a>
                    <a ng-click="copySession(item.$id)" class="btn btn-trans btn-gradient">Copy
                        <span class="glyphicon glyphicon glyphicon-plus-sign"></span>
                    </a>
                </div>
                <a ng-show="confirm == false" ng-click="confirm = true" class="btn btn-danger btn-gradient pull-right">
                    <span class="glyphicon glyphicon glyphicon-minus-sign"></span>
                </a>

                <div ng-hide="confirm == false" class="btn-group pull-right">
                    <a ng-click="deleteSession(item.$id)" class="btn btn-success btn-gradient">
                        <span class="glyphicon glyphicon glyphicon-ok-circle"></span>
                    </a>
                    <a ng-click="confirm = false" class="btn btn-danger btn-gradient">
                        <span class="glyphicon glyphicon glyphicon-remove-circle"></span>
                    </a>
                </div>
                <p ng-hide="confirm == false" class="pull-right" style="margin: 9px; font-size: 12px; opacity: 0.5; font-weight: bold">
                    SURE?</p>
            </div>

        </div>

    </div>
</div>
