<div class="col-sm-12" ng-controller="TestCtrl">
    <h3>Test screen</h3>

    <div class="well">
        <h4>chartData</h4>
        <table class="table table-bordered">
            <tr>
                <td width="70%"></td>
                <td>High</td>
                <td>Low</td>
            </tr>
            <tr>
                <td>name</td>
                <td>fig1</td>
                <td>fig2</td>
            </tr>
        </table>
    </div>

    <div class="well">
        <h4>{{ revenue_integrity.name }}</h4>
        <table class="table table-bordered">
            <tr>
                <td width="70%"></td>
                <td>High</td>
                <td>Low</td>
            </tr>
            <tr>
                <td>Graph numbers</td>
                <td>{{ revenue_integrity.high }}</td>
                <td>{{ revenue_integrity.low }}</td>
            </tr>
        </table>
    </div>

    <div class="well">
        <h4>{{ revenue_integrity_process_improvement.name }}</h4>
        <table class="table table-bordered">
            <tr>
                <td width="70%"></td>
                <td>High</td>
                <td>Low</td>
            </tr>
            <tr>
                <td>Graph numbers</td>
                <td>{{ revenue_integrity_process_improvement.high }}</td>
                <td>{{ revenue_integrity_process_improvement.low }}</td>
            </tr>
            <tr ng-repeat="item in revenue_integrity_process_improvement.summary">
                <td>{{ item.name }}</td>
                <td>{{ item.high | commas }}</td>
                <td>{{ item.low | commas }}</td>
            </tr>
        </table>
        <p class="text-muted">Example: {{ revenue_integrity_process_improvement.summary.pnrs.high | commas }}</p>
    </div>

    <div class="well">
        <h4>{{ cmap.name }}</h4>
        <table class="table table-bordered">
            <tr>
                <td width="70%"></td>
                <td>High</td>
                <td>Low</td>
            </tr>
            <tr>
                <td>Graph numbers</td>
                <td>{{ cmap.high }}</td>
                <td>{{ cmap.low }}</td>
            </tr>
            <tr>
                <td>{{ cmap.fuel_cost.name }}</td>
                <td colspan="2">{{ cmap.fuel_cost.value | commas }}</td>
            </tr>
            <tr ng-repeat="item in cmap.summary">
                <td>{{ item.name }}</td>
                <td>{{ item.high | commas }}</td>
                <td>{{ item.low | commas }}</td>
            </tr>
        </table>
    </div>

    <div class="well">
        <h4>{{ origin_and_destination.name }}</h4>
        <table class="table table-bordered">
            <tr>
                <td width="70%"></td>
                <td>High</td>
                <td>Low</td>
            </tr>
            <tr>
                <td>Graph numbers</td>
                <td>{{ origin_and_destination.high }}</td>
                <td>{{ origin_and_destination.low }}</td>
            </tr>
            <tr>
                <td>Revenue</td>
                <td colspan="2">{{ origin_and_destination.revenue | commas }}</td>
            </tr>
            <tr ng-repeat="item in origin_and_destination.summary">
                <td>{{ item.name }}</td>
                <td>{{ item.high | commas }}</td>
                <td>{{ item.low | commas }}</td>
            </tr>
        </table>
    </div>

    <div class="well">
        <h4>{{ pos.name }}</h4>
        <table class="table table-bordered">
            <tr>
                <td width="70%"></td>
                <td>High</td>
                <td>Low</td>
            </tr>
            <tr>
                <td>Graph numbers</td>
                <td>{{ pos.high }}</td>
                <td>{{ pos.low }}</td>
            </tr>
            <tr>
                <td>Revenue</td>
                <td colspan="2">{{ pos.revenue | commas }}</td>
            </tr>
            <tr ng-repeat="item in pos.summary">
                <td>{{ item.name }}</td>
                <td>{{ item.high | commas }}</td>
                <td>{{ item.low | commas }}</td>
            </tr>
        </table>
    </div>

    <div class="well">
        <h4>{{ arr.name }}</h4>
        <table class="table table-bordered">
            <tr>
                <td width="70%"></td>
                <td>High</td>
                <td>Low</td>
            </tr>
            <tr>
                <td>Graph numbers</td>
                <td>{{ arr.high }}</td>
                <td>{{ arr.low }}</td>
            </tr>
            <tr ng-repeat="item in arr.summary">
                <td>{{ item.name }}</td>
                <td>{{ item.high | commas }}</td>
                <td>{{ item.low | commas }}</td>
            </tr>
        </table>
    </div>
</div>
