<div class="col-md-3 col-md-offset-5  mt-50">

    <div class="form-group">
        <label for="uname">Name</label>
        <input id="uname" type="text" ng-model="info.user.name" ng-change="updateInfo()" class="form-control input-lg" ng-value=""
               placeholder="Please enter your name" required>
    </div>
    <div class="form-group">
        <label for="acode">Airline</label>
        <input id="acode" type="text" ng-model="info.airline.code" ng-change="updateInfo()" class="form-control input-lg"
               placeholder="Airline code" required>
    </div>
    <div class="form-group">
        <label for="oname">Opportunity</label>
        <input id="oname" type="text" ng-model="info.opportunity.name" ng-change="updateInfo()" class="form-control input-lg"
               placeholder="Opportunity name" required>
    </div>
    <div class="form-group">
        <a ng-href="/#/calculator" ng-disabled="!info.airline.code || !info.user.name || !info.opportunity.name"
           class="input-lg user-action"><span class="txt">GO</span>
            <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>

</div>
