<div class="col-md-4 col-md-offset-4 content-margin" ng-controller="AuthCtrl" ng-show="user_forms_ready">

    <div class="well">
        <form name="password">
            <h2>Forgotten Password</h2>

            <div class="form-group">
                <label for="email">Email address</label>
                <input id="email" type="email" ng-model="auth.email" class="form-control input-lg"
                       placeholder="Please enter your email address" required>
            </div>
            <div class="form-group">
                <button type="submit" class="input-lg user-action" ng-click="sendPassword();">Retrieve password
                    <small-loader ng-show="show_loader"></small-loader>
                </button>
            </div>

            <p class="alert alert-warning" ng-show="message">Check your inbox for your new temporary password. You can
                then <a ui-sref="reset-password"><strong>change your password here</strong></a> to something more
                memorable.</p>

        </form>
    </div>

</div>
