<div class="col-md-3 col-md-offset-5" ng-controller="AuthCtrl" ng-show="user_forms_ready">

    <form name="password">
        <h1>Forgotten Password</h1>
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="email" ng-model="auth.email" class="form-control input-lg"
                   placeholder="Enter your email" required>
        </div>
        <div class="form-group">
            <button type="submit" class="input-lg user-action" ng-click="sendPassword();">Send <small-loader ng-show="show_loader"></small-loader></button>
        </div>

        <p class="alert alert-warning" ng-show="message">Check your inbox for your new temporary password. You can then <a ui-sref="reset-password"><strong>change your password here</strong></a> to something more memorable.</p>

    </form>

</div>
