<div class="col-md-4 col-md-offset-4 content-margin" ng-controller="AuthCtrl" ng-show="user_forms_ready">

    <form ng-hide="info.loggedIn" name="login">
        <h1>Sign In</h1>
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="email" ng-model="auth.email" class="form-control input-lg"
                   placeholder="Enter your email" required>
        </div>
        <div class="form-group">
            <label for="pword">Password</label>
            <input id="pword" type="password" ng-model="auth.password" ng-change="updateInfo()" class="form-control input-lg"
                   placeholder="Enter your Password" required>
        </div>
        <div class="form-group">
            <button type="submit" class="input-lg user-action" ng-click="loginUser();">Sign in <small-loader ng-show="show_loader"></small-loader></button>
        </div>

        <p class="alert alert-warning" ng-show="message">{{ message }} {{ reason }}</p>

        <p class="mt-20 mb-20"><a ui-sref="forgot-password">Forgotten password</a> | <a ui-sref="reset-password">Reset password</a></p>
    </form>

    <div ng-show="loginObj.user">
        <h1>Sign Out</h1>

        <p class="lead mb-0">Are you sure you would like to sign out?</p>
        <p class="text-capitalize text-muted">(Signed in as {{ loginObj.user.email }})</p>
        <p><a ng-click="logoutUser()" class="input-lg user-action">Sign me out</a></p>
    </div>

</div>
