<div class="col-xs-12 col-sm-4 col-md-3 {{ ele_load_status }} saved-panels" ng-repeat="item in items | orderBy:predicate:reverse">
    <div class="panel" ng-class="{'panel-danger' : confirm == true, 'panel-success' : item.$id == current_key, 'panel-default' : confirm != true && item.$id != current_key, 'deleting': deleteItemId==item.$id}" ng-init="confirm = false">
        <div class="panel-heading pos-rel" title="{{ item.info.airline.code }}">
            <strong ng-show="item.$id == current_key">USING: </strong>{{ item.info.airline.code | uppercase | limitTo : 16 }}
            <div class="panel-heading-btn-group pull-right btn-group">
                <a ui-sref="saved-calculations-detail({id:item.$id})" class="btn btn-trans btn-gradient">
                    VIEW
                </a>
            </div>
        </div>
        <div class="panel-body">

            <h5 class="mb-5 mt-0">
                <small>OPPORTUNITY</small>
            </h5>
            <p class="mt-0 mb-0" title="{{ item.info.opportunity.name }}">
                <strong>{{ item.info.opportunity.name | limitTo : 16 }}</strong>
            </p>

            <h5 class="mb-5 mt-10">
                <small>VERSION</small>
            </h5>
            <p class="mt-0 mb-5" title="{{ item.info.session.name }}">
                <strong>{{ item.info.session.name | limitTo : 16 }}</strong>
            </p>

            <hr class="mt-10 mb-10">
            <div class="row">
                <h5 class="mt-0 mb-0 col-lg-6 text-left">
                    <small>SAVED ON: {{ item.info.date.date | date: 'medium' | uppercase }}</small>
                </h5>
                <h5 class="mt-0 mb-0 col-lg-6 text-right">
                    <small>CURRENCY: {{ item.info.currency.symbol | uppercase }} ({{ item.info.currency.currency | uppercase }})</small>
                </h5>
            </div>
        </div>
        <div class="panel-footer">
            <div class="btn-group">
                <a ng-click="useSession(item.$id)" class="btn btn-trans btn-gradient">
                    Use
                </a>
                <a ng-click="copySession(item.$id)" class="btn btn-trans btn-gradient">
                    Copy
                </a>
            </div>
            <a ng-hide="confirm == true" ng-click="confirm = true" class="btn btn-danger btn-gradient pull-right">
                <span class="glyphicon glyphicon-minus-sign"></span>
            </a>

            <div ng-hide="confirm == false" class="pull-right">
                <span class="pt-5 plr-5 pull-left text-danger small">Delete?</span>
                <div class="btn-group">
                    <a ng-click="deleteSession(item.$id)" class="btn btn-success btn-gradient">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                    <a ng-click="confirm = false" class="btn btn-danger btn-gradient">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>