<div ng-cloak class="{{ load_status }}" ng-init="checkLoginStatus()">
    <div class="col-md-12">

        <a ng-click="checkLoginStatus()">Get records</a>

        <div class="loader">
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div class="row mt-5 mb-10">
            <div class="col-md-12 text-right">
                <ul ng-model="sort" class="list-inline sort mt-10" ng-init="sort = 'unsorted'">
                    <li>Sort by: </li>
                    <li><a ng-click="predicate=''; sort = 'unsorted'" ng-class="{'active': sort == 'unsorted'}">Unsorted</a></li>
                    <li><a ng-click="predicate = 'info.date.timestamp'; reverse=false; sort = 'date_asc'" ng-class="{'active': sort == 'date_asc'}">Date (Asc.)</a></li>
                    <li><a ng-click="predicate = '-info.date.timestamp'; reverse=false; sort = 'date_desc'" ng-class="{'active': sort == 'date_desc'}">Date (Desc.)</a></li>
                    <li><a ng-click="predicate = 'info.airline.code'; reverse=false; sort = 'name_az'" ng-class="{'active': sort == 'name_az'}">Airline (A-Z)</a></li>
                    <li><a ng-click="predicate = '-info.airline.code'; reverse=false; sort = 'name_za'" ng-class="{'active': sort == 'name_za'}">Airline (Z-A)</a></li>
                </ul>
            </div>
        </div>

        <div class="row">

            <h1 ng-show="session_count == 0" class="text-center text-muted mt-80 {{ ele_load_status }} ng-cloak">Cannot find any saved calculations<br> . . .<br><a ui-sref="new-calculation" class="btn btn-success btn-lg user-action mt-5">New calculation</a></h1>
            <h1 ng-show="info.loggedIn == false" class="text-center text-muted mt-80 ng-cloak">You're not logged in. To view saved calculations you must <a ui-sref="auth">log in</a><br> . . .</h1>
            <calculations></calculations>
        </div>
    </div>
</div>
<script type="text/ng-template" id="useSession.html" ng-class="sm">
    <div class="modal-header text-center">
        <h3 class="modal-title text-danger">Alert!</h3>
    </div>
    <div class="modal-body text-center">
        <p class="lead mb-0">The current calculation will be overwritten!</p>
    </div>
    <div class="modal-footer text-center text-capitalize">
        <strong class="text-muted" style="margin-right: 8px">Go ahead?</strong>
        <button class="btn btn-danger" ng-click="ok()">YES</button>
        <button class="btn btn-info" ng-click="cancel()">NO</button>
    </div>
</script>

