<div ng-cloak class="{{ load_status }}">
    <div class="col-md-12">

        <div class="loader">
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div class="row mt-5 mb-10">
            <div class="col-md-12 text-right">
                <ul ng-model="sort" class="list-inline sort mt-10" ng-init="sort = 'unsorted'">
                    <li>Sort by: </li>
                    <li><a ng-click="predicate=''; sort = 'unsorted'" ng-class="{'active': sort == 'unsorted'}">Unsorted</a></li>
                    <li><a ng-click="predicate = 'info.date.timestamp'; reverse=false; sort = 'date_asc'" ng-class="{'active': sort == 'date_asc'}">Date (Asc.)</a></li>
                    <li><a ng-click="predicate = '-info.date.timestamp'; reverse=false; sort = 'date_desc'" ng-class="{'active': sort == 'date_desc'}">Date (Desc.)</a></li>
                    <li><a ng-click="predicate = 'info.airline.code'; reverse=false; sort = 'name_az'" ng-class="{'active': sort == 'name_az'}">Airline (A-Z)</a></li>
                    <li><a ng-click="predicate = '-info.airline.code'; reverse=false; sort = 'name_za'" ng-class="{'active': sort == 'name_za'}">Airline (Z-A)</a></li>
                </ul>
<!--                <pre>Sorting predicate = {{predicate}}; reverse = {{reverse}}</pre>-->
            </div>
        </div>

        <div class="row">

            <h1 ng-show="sessionCount() == 0" class="text-center text-muted mt-80 {{ ele_load_status }} ng-cloak">Cannot find any saved calculations<br> . . .<br><a ui-sref="new-calculation" class="btn btn-success btn-lg user-action mt-5">New calculation</a></h1>
            <h1 ng-show="info.loggedIn == false" class="text-center text-muted mt-80 ng-cloak">You're not logged in. To view saved calculations you must <a ui-sref="auth">log in</a><br> . . .</h1>
            <div class="col-xs-6 col-sm-4 col-md-3 {{ ele_load_status }} saved-panels" ng-repeat="item in items | orderBy:predicate:reverse">
                <div class="panel" ng-class="{'panel-danger' : confirm == true, 'panel-success' : item.$id == current_key, 'panel-default' : confirm != true && item.$id != current_key, 'deleting': deleteItemId==item.$id}" ng-init="confirm = false">
                    <div class="panel-heading pos-rel">
                        <strong ng-show="item.$id == current_key">USING: </strong>{{ item.info.airline.code | uppercase }}
                        <div class="panel-heading-btn-group pull-right btn-group">
                            <a ui-sref="saved-calculations-detail({id:item.$id})" class="btn btn-primary">
                                Summary
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">

                        <h5 class="mb-5 mt-0">
                            <small>OPPORTUNITY</small>
                        </h5>
                        <h3 class="mt-0 mb-0">
                            {{ item.info.opportunity.name }}</h3>

                        <h5 class="mb-5 mt-0">
                            <small>VERSION</small>
                        </h5>
                        <h3 class="mt-0 mb-5">{{ item.info.session.name }}</h3>

                        <hr class="mt-10 mb-10">
                        <h5 class="mt-0 mb-0">
                            <small>SAVED ON: {{ item.info.date.date | date: 'medium' | uppercase }}</small>
                        </h5>
                    </div>
                    <div class="panel-footer">
                        <div class="btn-group">
                            <a ng-click="useSession(item.$id)" class="btn btn-trans btn-gradient">
                                Use <span class="glyphicon glyphicon-share-alt"></span>
                            </a>
                            <a ng-click="copySession(item.$id)" class="btn btn-trans btn-gradient">
                                Copy <span class="glyphicon glyphicon-plus-sign"></span>
                            </a>
                        </div>
                        <a ng-hide="confirm == true" ng-click="confirm = true" class="btn btn-danger btn-gradient pull-right">
                            <span class="glyphicon glyphicon-minus-sign"></span>
                        </a>

                        <div ng-hide="confirm == false" class="pull-right">
                            <span class="pt-5 plr-5 pull-left text-danger">Delete?</span>
                            <div class="btn-group">
                                <a ng-click="deleteSession(item.$id)" class="btn btn-success btn-gradient">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </a>
                                <a ng-click="confirm = false" class="btn btn-danger btn-gradient">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="useSession.html" ng-class="sm">
    <div class="modal-header text-center">
        <h3 class="modal-title text-danger">Alert!</h3>
    </div>
    <div class="modal-body text-center">
        <p class="lead mb-0">The current calculation will be overwritten!</p>
    </div>
    <div class="modal-footer text-center text-capitalize">
        <strong class="text-muted" style="margin-right: 8px">Go ahead?</strong>
        <button class="btn btn-danger" ng-click="ok()">YES</button>
        <button class="btn btn-info" ng-click="cancel()">NO</button>
    </div>
</script>

